
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="brand-heading">Rock Solutions Limited.</h2>
                        <p class="intro-text">Building a better society for a better future.
                            <br>One brick at a time</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section -->
    <section id="about">
    <br>
    <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>About Us</h1>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Rock Solutions Company Limited is an innovative business solutions provider working with companies across all sectors in construction, infrustructural, and business advisory services to name a few.</p>
                </div>
                <div class="col-lg-4">
                    <p>We help clients generate profitable business results and positive social and environmental outcomes. Contact us and we'll help you take your business to the next level.</p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
</section>
   